# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 088dba5fe32ddcd695274c4928258d5a1d9b1b83fad2a1e425278b109734b5e8978525484788c015ca7436d58c5a796369e3992e98cdb6972512d1e2fe969816

test:
  secret_key_base: 611e08b356eb5baefc1514f362c58ea34703b156068c421e40f42d0188c3b07c6e0a5731fa6a0d3bd2da97e2bbc7e960f589a5738a1e16633a55e0a203f714fe

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
