<!DOCTYPE html>
<html lang="en">
<head>
  <title>Address Book</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body ng-app="AddressBook">
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div ng-include="'nav/_nav.html'"></div>
      <ui-view></ui-view>
    </div>
  </div>
</div>
</body>
</html>
